<section class="content">
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-12 connectedSortable">
      <div class="box box-info">
        <div class="box-header">
          <i class="fa fa-check"></i>
          <h3 class="box-title">Add Special News</h3>
          <!-- tools box -->

        </div>
        <%= form_for @sp_new do |f| %>
            <div class="box-tools">
              <%= select_tag 'category_id_for_headline_add', options_from_collection_for_select(Category.all,:id, :name), {:prompt=>'Select Category', :class => 'form-control input-sm pull-right' } %>
              <!--<input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>-->
              <div class="input-group">
                <%= date_field(:archive, :date_for_headline_add, :class=>'form-control input-sm pull-right date_field_archive',:value=>@current_date) %>

                <!--<input type="text" id="central_post_search" name="table_search" class="form-control input-sm pull-right" style="width: 250px;" placeholder="Search"/>-->
                <div class="input-group-btn">
                  <a class="btn btn-sm btn-default "><i class="fa fa-search"></i></a>
                </div>
              </div>
            </div>
            <div class="box-body">
              <div class="form-group">
                <%= select_tag 'post_id', options_from_collection_for_select(@posts,:id, :title), {:prompt => 'Select a news', :class => 'form-control' } %>
                <!--<input type="email" class="form-control" name="emailto" placeholder="category name..."/>-->
              </div>
            </div>
            <div class="box-footer clearfix">
              <%= f.submit :class=>'pull-right btn btn-default' %>
              <!--<button class="pull-right btn btn-default" id="sendEmail">Create <i class="fa fa-check"></i></button>-->
            </div>
        <% end %>
      </div>
      <!-- Box (with bar chart) -->
      <div class="box box-info">
        <div class="box-header">
          <i class="fa fa-check"></i>
          <h3 class="box-title">Special News</h3>
          <!-- tools box -->

        </div>
        <!-- Box (with bar chart) -->
        <!-- quick email widget -->


        <div class="table-responsive">
          <!-- .table - Uses sparkline charts-->
          <% if @special_news.any? %>
              <table class="table table-striped">
                <tr>
                  <th class="col-md-8">Special news</th>
                  <th class="col-md-2">Date</th>
                  <th class="text-right col-md-2">Delete</th>
                </tr>
                <% @special_news.each do |sp_news| %>
                    <tr>
                      <td>
                        <%= link_to sp_news.post.title, post_path(sp_news.post),:data => { :no_turbolink => true } %>
                      </td>

                      <td><%= sp_news.post.created_at.strftime('%d %B, %y') %></td>
                      <td class="text-right">

                        <div class="btn-group">
                          <%= link_to special_news_path(sp_news), :class=>'btn btn-info', method: :delete,data: { confirm: 'Are you sure?' } do %>
                              <i class='fa fa-align-center fa-crop'></i> delete
                          <% end %>
                        </div>

                      </td>
                    </tr>
                <% end %>
              </table><!-- /.table -->
          <% end %>

        </div>
      </div>
    </section><!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->

  </div><!-- /.row (main row) -->

</section><!-- /.content -->

<script>
    $(document).ready(function(){
        $('#category_id_for_headline_add').click(function(){
            var date=$('#archive_date_for_headline_add').val();
            var category_id=$('#category_id_for_headline_add').val();
            $.ajax({
                url:'/headlines/post_search_for_headline',
                data: {date: date,category_id:category_id},
                type: 'get'
            });
        });
        $('#archive_date_for_headline_add').change(function(){
            var date=$('#archive_date_for_headline_add').val();
            var category_id=$('#category_id_for_headline_add').val();
            $.ajax({
                url:'/headlines/post_search_for_headline',
                data: {date: date,category_id:category_id},
                type: 'get'
            });
        });
    });
</script>