<% if BottomCategoryNews.all.any? %>
    <% BottomCategoryNews.all.each do |bcn| %>
        <div class="panel_title">
          <div>
            <h4>
              <%= link_to bcn.category.name, category_news_news_index_path(bcn) %>
              <!--<a href="#">বিনোদন</a>-->
            </h4>
          </div>
        </div>
        <div class="row">
          <% if bcn.category.posts.any? %>
          <% bcn.category.posts.last(3).each do |post| %>
                  <div class="col col_4_of_12">
                    <!-- Layout post 1 -->
                    <div class="layout_post_1">
                      <div class="item_thumb">
                        <div class="thumb_icon">
                          <%= link_to news_path(post),{:style=>'background-color:#D2527F;'} do %>
                              <i class="fa fa-copy"></i>
                          <% end %>
                        </div>
                        <div class="thumb_hover">
                          <%= link_to news_path(post) do %>
                              <%= image_tag(post.photo, alt: 'Post', :class => 'visible animated') %>
                          <% end %>
                        </div>
                        <div class="thumb_meta">
                    <span class="category" style="background-color: #D2527F">
                      <%= link_to post.category.name, category_news_news_index_path(post.category) %>
                    </span>
                        </div>
                      </div>
                      <div class="item_content">
                        <h4>
                          <%= link_to post.title, news_path(post) %>
                        </h4>
                        <div class="item_meta clearfix">
                          <span class="meta_date">
                            <%= post.created_at.strftime('%B %d, %y') %>
                          </span>
                        </div>
                        <p>
                          <%= post.division.name+' : ' if post.division %>
                          <%= post.content.to_s[0..130]+'...' if post.content.to_s.length>130%>
                          <%= post.content if post.content.to_s.length<131%>
                        </p>
                      </div>
                    </div>
                  </div>

          <% end %>
          <% end %>
        </div>
    <% end %>
<% end %>