<% if LastRightSideAd.any? %>
    <% LastRightSideAd.last(2).each do |ad| %>
        <div class="widget add-banner">
          <a href="<%= ad.link %>" target="_blank">
            <%= image_tag(ad.ad_picture) %>
          </a>
        </div>
    <% end %>
<% end %>
<!-- Widget top rated -->
<div class="widget">
  <div class="widget_title"><h3>সর্বাধিক পঠিত</h3></div>
  <div class="tb_widget_top_rated clearfix">
    <% if @most_viewed_news.any? %>
        <% @most_viewed_news.each do |mv_news| %>
            <div class="item clearfix">
              <div class="item_thumb clearfix">
                <%= link_to news_path(mv_news, :class=>'visible animated'), alt: 'Post',:data => { :no_turbolink => true } do  %>
                    <%= image_tag mv_news.photo %>
                <% end %>
                <!--<a href="#"><img src="/images/2.jpg" alt="Post" class="visible animated"></a>-->
              </div>
              <div class="item_content">

                <h4>
                  <%= link_to mv_news.title, news_path(mv_news),:data => { :no_turbolink => true } %>
                  <!--<a href="#">পদ্মা সেতু নির্মাণে বিঘ্ন ঘটার আশঙ্কা নেই : সেতুমন্ত্রী</a>-->
                </h4>
              </div>

            </div>
        <% end %>
    <% end %>
  </div>
</div><!-- End Widget top rated -->

<!-- Widget Banners facebook -->
<div class="widget add-banner">
  <div class="widget_title "><h3>ফেসবুক পেইজ</h3></div>
  <div class="fb-page" data-href="https://www.facebook.com/pages/Alokito-Narayanganj-24/663374857096078" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Alokito-Narayanganj-24/663374857096078"><a href="https://www.facebook.com/pages/Alokito-Narayanganj-24/663374857096078">Alokito Narayanganj 24</a></blockquote></div></div>

</div><!-- End Widget Banners facebook -->
<!-- Widget Recent list posts -->
<!-- Widget top rated -->
<div class="widget">
  <div class="widget_title"><h3><a href="#">ভিডিও সংবাদ</a></h3></div>
  <div class="tb_widget_top_rated clearfix">
    <!-- Post item -->
    <div class="widget">
      <div class="video_news_right_side_bar">
        <div class="video-play">
          <%= link_to video_gallery_news_index_path(Video.last),:data => { :no_turbolink => true } do %>
              <%= Video.last.url.html_safe %>
          <% end if Video.last %>
        </div>
        <%= link_to video_gallery_news_index_path(Video.last),:data => { :no_turbolink => true } do %>
            <!--<div class="video_gallery_iframe_cover_div"></div>-->
        <% end if Video.last%>
      </div>
      <div class="item_content">

        <h4>
          <%= link_to Video.last.title, video_gallery_news_index_path(Video.last),:data => { :no_turbolink => true } if Video.last%>
          <!--<a href="#">পদ্মা সেতু নির্মাণে বিঘ্ন ঘটার আশঙ্কা নেই : সেতুমন্ত্রী</a>-->
        </h4>
      </div>

    </div><!-- End Post item -->
    <% Video.last(3).reverse.each do |video| %>
        <div class="item clearfix">
          <div class="item_thumb clearfix">

            <!--<a href="#"><img src="/images/2.jpg" alt="Post" class="visible animated"></a>-->
          </div>
          <div class="item_content">

            <h6>
              <%= link_to video_gallery_news_index_path(video),:data => { :no_turbolink => true } do %>
                  <i class="fa fa-video-camera"></i> &nbsp;&nbsp;
                  <%= video.title %>
              <% end %>
            </h6>
          </div>

        </div>
    <% end if Video.all.any?%>
    <!-- End Post item -->



  </div>
</div><!-- End Widget top rated -->
<!-- Widget posts -->
<div class="widget">
  <div class="widget_title"><h3>ফটো সংবাদ</h3></div>
  <div class="tb_widget_posts_big clearfix">

    <div class="content_slider">
      <ul>
        <% if Gallery.last %>
        <%  if Gallery.last.photos.any? %>
            <% Gallery.last.photos.each do |photo| %>
                    <!-- Item -->
                    <li>
                      <%= link_to photo_gallery_news_index_path(Gallery.last),:data => { :no_turbolink => true } do %>
                          <%= image_tag(photo.image, alt: 'Slider', height: 150) %>
                      <% end %>

                      <div class="slider_caption">

                        <div class="thumb_link">
                          <h6>
                            <%= link_to  photo.title.to_s[0..35],  photo_gallery_news_index_path(Gallery.last),:data => { :no_turbolink => true } if photo.title %>
                          </h6>
                        </div>
                      </div>
                    </li><!-- End Item -->
            <% end %>
        <% end %>
        <% end %>

      </ul>
    </div><!-- End Content slider -->
  </div>
</div><!-- End Widget posts -->
<!-- Widget Banners facebook -->
<div class="widget add-banner">


</div><!-- End Widget Banners facebook -->
