
<div class="widget">
  <div class="widget_title"><h3>সর্বশেষ খবর</h3></div>
  <div class="tb_widget_posts_big clearfix">
    <!-- Post item -->
    <% if @last_ten_news.any? %>
        <% @last_ten_news.each do |ltn|  %>
            <div class="item clearfix">
              <div class="item_content">
                <h4>
                  <%= link_to news_path(ltn),:data => { :no_turbolink => true } do %>
                        <span class="format" style="background-color: #2F88D6">
                          <%= ltn.category.name %>
                        </span>
                      <%= ltn.title %>
                  <% end %>
                </h4>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>
<div class="widget add-banner">
  <a href="#" target="_blank">
    <%= image_tag(SecondLastRightSideAd.last.ad_picture) if SecondLastRightSideAd.last %>
  </a>
</div>
<% if Division.all.any? %>
    <div class="widget">
      <div class="widget_title"><h3>বিভাগ</h3></div>
      <div class="tb_widget_categories">
        <ul>
          <% Division.all.each do |division| %>
          <li>
            <%= link_to division.name, division_news_index_path(division),:data => { :no_turbolink => true } %>
            <%= '('+ division.posts.count.to_s+')' %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>
<!-- End widget -->
<% if SecondLastRightSideAd.any? %>
    <% SecondLastRightSideAd.last(3).each do |ad| %>
        <% if ad!=SecondLastRightSideAd.last %>
            <div class="widget add-banner">
              <%= image_tag(ad.ad_picture) %>
            </div>
        <% end %>
    <% end %>
<% end %>


<% if RightCategoryNews.all.any? %>
    <% RightCategoryNews.all.each do |rcn| %>
        <div class="widget">
          <div class="widget_title">
            <h3>
              <%= link_to rcn.category.name, category_news_news_index_path(rcn.category),:data => { :no_turbolink => true } %>
            </h3>
          </div>
          <% if rcn.category.posts.any? %>
              <div class="tb_widget_categories">
                <div class="widget sports-news">
                  <%= link_to news_path(rcn.category.posts.last),:data => { :no_turbolink => true } do %>
                      <%= image_tag(rcn.category.posts.last.photo) %>
                      <h4>
                        <%= rcn.category.posts.last.title %>
                      </h4>
                  <% end %>

                </div>
                <ul>
                  <% rcn.category.posts.last(5).reverse.each do |post| %>
                  <% unless rcn.category.posts.last==post %>
                      <li>
                        <%= link_to post.title, news_path(post),:data => { :no_turbolink => true } %>
                      </li>
                  <% end %>
                  <% end %>
                </ul>
              </div><!-- End tb_widget_categories -->
          <% end %>
        </div>
    <% end %>
<% end %>
