
<!-- Header -->

<!-- End Header -->
<!-- Section -->
<section>
<div class="container">
<div class="row">
<!-- Main content -->
<div class="col col_7_of_12">
<!-- Content slider -->
<%= render 'users/left_side_bar_user_tem' %>

<!--category End Post news -->
</div><!-- End Main content -->
<!-- Secondary sidebar -->
<div class="col col_2_of_12">
<%= render 'users/second_last_side_bar_user_tem' %>
</div><!-- End Secondary sidebar -->
<!-- Sidebar -->
<div class="col col_3_of_12">
<%= render 'users/last_right_side_row_user_tem' %>
</div><!-- End Sidebar -->

</div>

<!-- start ad -->
<div>
  <% if HeaderBottomAd.last %>
      <a href="<%= HeaderBottomAd.last.link %>" target="_blank">
        <%= image_tag(HeaderBottomAd.last.ad_picture) %>
      </a>
  <% end %>
</div>
<!-- end ad -->
<!-- Panel title -->
<%= render 'users/bottom_news_tem' %>


</div><!-- End Main content -->

</section><!-- End Section -->
<!-- Footer -->

<!-- Copyright -->
