<div class="container">
  <div class="row">

    <!-- Main content -->
    <div class="col col_9_of_12">
      <div class="box-tools">
        <%= select_tag 'category_id_select_archive_news_user', options_from_collection_for_select(Category.all,:id, :name), {:prompt=>'Select Category', :class => 'form-control input-sm pull-right' } %>

        <div class="input-group">
          <%= date_field(:archive_user, :date_search, :class=>'form-control input-sm pull-right date_field_archive',:value=>@current_date) %>
          <div class="input-group-btn">
            <button class="btn btn-sm btn-default search_btn_for_user_archive_AT_date"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <!-- Panel title -->
      <div class="panel_title">
        <div>
          <h4>
            <a >আর্কাইভ</a>
          </h4>
        </div>
      </div><!-- End Panel title -->
      <div class="row">
        <div class="col col_12_of_12 user_archive_news_container">
          <!-- Layout post 1 -->
          <% if @archive_news.any? %>
              <% @archive_news.each do |c_news| %>
                  <div class="layout_post_2 clearfix">
                    <div class="item_thumb">
                      <div class="thumb_icon">
                        <%= link_to news_path(c_news),:data => { :no_turbolink => true } do %>
                            <i class="fa fa-copy"></i>
                        <% end %>
                        <!--<a href="post_single.html"><i class="fa fa-copy"></i></a>-->
                      </div>
                      <div class="thumb_hover">
                        <%= link_to news_path(c_news),:data => { :no_turbolink => true } do %>
                            <%= image_tag(c_news.photo, :alt => 'Post') %>
                        <% end %>
                        <!--<a href="post_single.html"><img src="/images/2.jpg" alt="Post"></a>-->
                      </div>
                      <div class="thumb_meta">
                    <span class="category">
                      <%= link_to c_news.category.name, category_news_news_index_path(c_news.category),:data => { :no_turbolink => true } %>
                    </span>
                        <!--<span class="comments"><a href="post_single.html">15 Comments</a></span>-->
                      </div>
                    </div>
                    <div class="item_content">
                      <h4>
                        <%= link_to c_news.title, news_path(c_news),:data => { :no_turbolink => true } %>
                        <!--<a href="#">যতোই কল্পকাহিনী তৈরি করা হোক বিএনপিকে ভাঙা যাবে না</a>-->
                      </h4>
                      <p>
                        <%= c_news.content.to_s[0..400].html_safe  %>
                      </p>
                      <div class="item_meta clearfix">
                    <span class="meta_date">
                      <%= c_news.created_at.strftime('%d %B, %y') %>
                    </span>
                        <!--<span class="meta_likes"><a href="#">29</a></span>-->
                      </div>
                    </div>
                  </div>
              <% end %>
          <% end %>

        </div>
      </div>


    </div><!-- End Main content -->
    <!-- Sidebar -->
    <div class="col col_3_of_12">
      <%= render 'users/last_right_side_row_user_tem' %>
    </div><!-- End Sidebar -->
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
      $('.search_btn_for_user_archive_AT_date').click(function(){
          var date=$('#archive_user_date_search').val();
          var category=$('#category_id_select_archive_news_user').val();
          $.ajax({
              url:'/news/previous_record',
              data: {date: date,category:category},
              type: 'get'
          });
      });
      $('#category_id_select_archive_news_user').click(function(){
          var date=$('#archive_user_date_search').val();
          var category=$('#category_id_select_archive_news_user').val();
          $.ajax({
              url:'/news/previous_record',
              data: {date: date,category:category},
              type: 'get'
          });
      });
      $('#archive_user_date_search').change(function(){
          var date=$('#archive_user_date_search').val();
          var category=$('#category_id_select_archive_news_user').val();
          $.ajax({
              url:'/news/previous_record',
              data: {date: date,category:category},
              type: 'get'
          });
      });
  });
</script>