<meta property="og:image" content="<%= image_path(@single_news.photo) %>"/>
<div class="container">
<div class="row">
<!-- Main content -->
<div class="col col_9_of_12">
  <!-- Post -->
  <article class="post">
    <!-- Media -->

    <!-- Entry content -->
    <div class="entry_content">
      <span style="color:#0B66B5;" class="meta_date "><i class="fa fa-calendar-o"></i>
        <%= @single_news.created_at.strftime('%d %B, %y') %> , <span><i class="fa fa-clock-o"></i> <%= @single_news.created_at.strftime('%I:%M %P') %></span></span>
      <h1 class="entry_title">
        <%= @single_news.title %>
        <!--কাল জামায়াতের ইফতার, থাকছেন খালেদা -->
      </h1><!-- End Entry title -->


      <!--<a href="/images/5.jpg" class="popup_link"><img src="/images/5.jpg" alt="Image"></a>-->
      <a href="<%= @single_news.photo %>" class="popup_link">
        <%= image_tag(@single_news.photo, :alt => 'Image') %>
        <!--<img src="/images/5.jpg" alt="Image">-->
      </a>

      <p>
        <%= @single_news.content.html_safe %>
      </p>
      <%= @single_news.video.html_safe if @single_news.video %>
      <div style="margin-top: 20px" class="fb-share-button"  data-href='<%= 'http://alokitonarayanganj24.com/news/'+@single_news.id.to_s %>' data-layout="button"></div>

    </div>

  </article><!-- End Post -->
  <!-- You might also like -->
  <div class="panel_title">
    <div>
      <h4><a href="#">আরো খবর</a></h4>
    </div>
  </div>
  <div class="row">
    <% if @single_news.category.posts.last(9).any? %>
    <% @single_news.category.posts.last(9).each do |news| %>
            <div class="col col_4_of_12">
              <!-- Layout post 1 -->
              <div class="layout_post_1">
                <div class="item_thumb">
                  <div class="thumb_icon">
                    <%= link_to news_path(news),{:style=>'background-color:#F89406;'},:data => { :no_turbolink => true } do %>
                        <i class="fa fa-copy"></i>
                    <% end %>
                    <!--<a href="post_single.html" style="background-color: #F89406"><i class="fa fa-copy"></i></a>-->
                  </div>
                  <div class="thumb_hover">
                    <%= link_to news_path(news),{:style=>'background-color:#F89406;'},:data => { :no_turbolink => true } do %>
                        <%= image_tag(news.photo, alt: 'Post', class: 'visible animated') if news.photo %>
                    <% end %>
                    <!--<a href="post_single.html"><img src="/images/1.jpg" alt="Post" class="visible animated"></a>-->
                  </div>
                </div>
                <div class="item_content">
                  <h4>
                    <%= link_to news.title.to_s[0..25]+'...', news_path(news),:data => { :no_turbolink => true } if news.title.to_s.length>25 %>
                    <%= link_to news.title.to_s[0..25], news_path(news),:data => { :no_turbolink => true } if news.title.to_s.length<26 %>
                    <!--<a href="post_single.html">Maecenas tempor volutpat commodo uspendisse potenti</a>-->
                  </h4>
                  <div class="item_meta clearfix">
                    <span class="meta_date"><%= news.created_at.strftime('%d %B, %y') %></span>
                    <!--<span class="meta_likes"><a href="#">29</a></span>-->
                  </div>


                </div>
              </div><!-- End Layout post 1 -->
            </div>
    <% end %>
    <% end %>

  </div><!-- End You might also like -->

</div><!-- End Main content -->
<!-- Sidebar -->
<div class="col col_3_of_12">
<%= render 'users/last_right_side_row_user_tem' %>

</div><!-- End Sidebar -->

</div>
</div>