<div class="container">
<div class="row">
<!-- Main content -->
<div class="col col_9_of_12">
  <!-- Post -->
  <article class="post">
    <!-- Media -->

    <!-- Entry content -->
    <div class="entry_content">
      <span style="color:#0B66B5;" class="meta_date "><i class="fa fa-calendar-o"></i>
        <%= @single_news.created_at.strftime('%d %B, %y') %> , <span><i class="fa fa-clock-o"></i> <%= @single_news.created_at.strftime('%I:%M %P') %></span></span>
      <h1 class="entry_title">
        <%= @single_news.title %>
        <!--কাল জামায়াতের ইফতার, থাকছেন খালেদা -->
      </h1><!-- End Entry title -->


      <!--<a href="/images/5.jpg" class="popup_link"><img src="/images/5.jpg" alt="Image"></a>-->
      <a href="<%= @single_news.photo %>" class="popup_link">
        <%= image_tag(@single_news.photo, :alt => 'Image') %>
        <!--<img src="/images/5.jpg" alt="Image">-->
      </a>

      <p>
        <%= @single_news.content %>
        <!--নিজস্ব প্রতিবেদক-->
        <!--নতুন বার্তা ডটকম-->
        <!--ঢাকা: বিএনপির চেয়ারপারসন খালেদা জিয়াকে দেশে জঙ্গিবাদের মূল শেকড় অভিহিত করেছেন তথ্যমন্ত্রী হাসানুল হক ইনু। তিনি বলেছেন, বাংলাদেশের রাজনীতিতে খালেদা জিয়াকে আর ছাড় দেয়া হবে না। তার ব্যাপারে জিরো টলারেন্স দেখাতে হবে।-->

        <!--শুক্রবার ঢাকা মহানগর জাসদ আয়োজিত কর্নেল তাহের মিলনায়তনে ‘জঙ্গি-আগুন সন্ত্রাসের মূল উৎপাটন: গণতন্ত্রের অগ্রযাত্রা’ শীর্ষক আলোচনা সভায় তথ্যমন্ত্রী এ কথা বলেন।-->


        <!--তথ্যমন্ত্রী বলেন, আগুন-সন্ত্রাসের দায়ে বেগম খালেদা জিয়াকে বিচারের সম্মুখীন করে কাশিমপুর কারাগারে রাখা হবে।  গণতন্ত্রে জঙ্গিবাদ থাকবে কি থাকবে না, সেটি যেমন বড় প্রশ্ন, তেমনি রাজনীতিতে খালেদা জিয়া থাকবে কি থাকবে না, এটিও এখনকার বড় প্রশ্ন।-->

        <!--খালেদা জিয়া পাকিস্তানের তালেবানি রাজনীতি করেন বলে অভিযোগ করেন তথ্যমন্ত্রী। তবে সে সুযোগ আর খালেদা জিয়া পাবেন না উল্লেখ করে মন্ত্রী বলেন, “জঙ্গিবাদের ডালপালা ছেঁটে কোনো লাভ নেই। শেকড় উপড়ে ফেলতে হবে। সেই শেকড় খালেদা জিয়া। জঙ্গিবাদের ব্যাপারে জিরো টলারেন্স দেখাতে হলেও খালেদা জিয়ার ব্যাপারে জিরো টলারেন্স দেখাতে হবে।”-->

        <!--আলোচনা সভায় সভাপতিত্ব করেন ঢাকা মহানগর জাসদের সমন্বয়ক মীর হোসাইন আখতার। আরো বক্তব্য দেন জাসদের সাধারণ সম্পাদক শরীফ নুরুল আম্বিয়া, সাংসদ নাজমুল হক প্রধান, নাদের চৌধুরী, আফরোজা হক প্রমুখ।-->

        <!--নতুন বার্তা/মোআ-->
      </p>
    </div><!-- End Entry content -->
    <!--<div class="bottom_wrapper">-->
      <!--&lt;!&ndash; Entry tags &ndash;&gt;-->
      <!--<div class="entry_tags">-->
        <!--<span><i class="fa fa-tags"></i> Tags</span>-->
        <!--<a href="#">theme</a>-->
        <!--<a href="#">psd</a>-->
        <!--<a href="#">magazine</a>-->
        <!--<a href="#">travel</a>-->
      <!--</div>&lt;!&ndash; End Entry tags &ndash;&gt;-->
      <!--&lt;!&ndash; Entry categories &ndash;&gt;-->
      <!--<div class="entry_tags categories">-->
        <!--<span><i class="fa fa-folder-open"></i> Category</span>-->
        <!--<a href="#">sport</a>-->
        <!--<a href="#">travel</a>-->
      <!--</div>&lt;!&ndash; End Entry categories &ndash;&gt;-->
    <!--</div>-->
    <!-- Editor review -->

  </article><!-- End Post -->
  <!-- You might also like -->
  <div class="panel_title">
    <div>
      <h4><a href="#">আরো খবর</a></h4>
    </div>
  </div>
  <div class="row">
    <% if @single_news.category.posts.last(9).any? %>
    <% @single_news.category.posts.last(9).each do |news| %>
            <div class="col col_4_of_12">
              <!-- Layout post 1 -->
              <div class="layout_post_1">
                <div class="item_thumb">
                  <div class="thumb_icon">
                    <%= link_to news_path(news),{:style=>'background-color:#F89406;'} do %>
                        <i class="fa fa-copy"></i>
                    <% end %>
                    <!--<a href="post_single.html" style="background-color: #F89406"><i class="fa fa-copy"></i></a>-->
                  </div>
                  <div class="thumb_hover">
                    <%= link_to news_path(news),{:style=>'background-color:#F89406;'} do %>
                        <%= image_tag(news.photo, alt: 'Post', class: 'visible animated') if news.photo %>
                    <% end %>
                    <!--<a href="post_single.html"><img src="/images/1.jpg" alt="Post" class="visible animated"></a>-->
                  </div>
                </div>
                <div class="item_content">
                  <h4>
                    <%= link_to news.title.to_s[0..32]+'...', news_path(news) %>
                    <!--<a href="post_single.html">Maecenas tempor volutpat commodo uspendisse potenti</a>-->
                  </h4>
                  <div class="item_meta clearfix">
                    <span class="meta_date"><%= news.created_at.strftime('%d %B, %y') %></span>
                    <!--<span class="meta_likes"><a href="#">29</a></span>-->
                  </div>


                </div>
              </div><!-- End Layout post 1 -->
            </div>
    <% end %>
    <% end %>

  </div><!-- End You might also like -->

</div><!-- End Main content -->
<!-- Sidebar -->
<div class="col col_3_of_12">
<%= render 'users/last_right_side_row_user_tem' %>

</div><!-- End Sidebar -->

</div>
</div>