<div class="box box-info">
  <div class="box-header">
    <i class="fa fa-check"></i>
    <h3 class="box-title"> News Properties</h3>

    <%= link_to edit_newsproperty_path(@newsproperty), :class=>'pull-right btn btn-default category_create_button',:data => { :no_turbolink => true } do %>
        <i class='fa fa-align-left fa-edit'></i> edit
    <% end if @newsproperty %>
    <!-- tools box -->

  </div>
</div>


<!-- Main content -->
<section class="content">

  <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <!-- The time line -->
      <ul class="timeline">
        <!-- timeline time label -->
        <li class="time-label">
                                    <span class="bg-red">
                                        <%= @newsproperty.created_at.strftime('%d %B, %y') if @newsproperty %>
                                    </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-pencil bg-blue"></i>
          <div class="timeline-item">
            <h2 class="timeline-header"><a href="#"> সম্পাদকঃ </a> <%= @newsproperty.name if @newsproperty %></h2>

          </div>
        </li>
        <li>
          <i class="fa fa-pencil bg-blue"></i>
          <div class="timeline-item">
            <h2 class="timeline-header"><a href="#">  প্রচার সম্পাদকঃ </a> <%= @newsproperty.sub_editor if @newsproperty %></h2>

          </div>
        </li>
        <li>
          <i class="fa fa-pencil bg-blue"></i>
          <div class="timeline-item">
            <h2 class="timeline-header"><a href="#"> বার্তা সম্পাদকঃ </a> <%= @newsproperty.sub_editor2 if @newsproperty %></h2>

          </div>
        </li>
        <li>
          <i class="fa fa-pencil bg-blue"></i>
          <div class="timeline-item">
            <h2 class="timeline-header"><a href="#">Address :</a> <%= @newsproperty.address if @newsproperty %></h2>
          </div>
        </li>
        <li>
          <i class="fa fa-phone bg-blue"></i>
          <div class="timeline-item">
            <h2 class="timeline-header"><a href="#">Phone :</a> <%= @newsproperty.phone if @newsproperty %></h2>
          </div>
        </li>
        <li>
          <i class="fa fa-fax bg-blue"></i>
          <div class="timeline-item">
            <h2 class="timeline-header"><a href="#">Email :</a> <%= @newsproperty.email if @newsproperty %></h2>
          </div>
        </li>
        <!-- END timeline item -->

        <!-- timeline item -->
        <% if @newsproperty.logo %>
            <li>
              <i class="fa fa-camera bg-purple"></i>
              <div class="timeline-item">
                <h3 class="timeline-header"> Logo</h3>
                <div class="timeline-body responsive_images img-responsive">
                  <%= image_tag(@newsproperty.logo, :class=>'margin') %>

                </div>
              </div>
            </li>
        <% end %>

        <!-- END timeline item -->
        <!-- timeline item -->

        <!-- END timeline item -->
        <li>
          <i class="fa fa-clock-o"></i>
        </li>
      </ul>
    </div><!-- /.col -->
  </div><!-- /.row -->



</section><!-- /.content -->
<!-- Main content -->