<div class="box box-info">
  <div class="box-header">
    <i class="fa fa-check"></i>
    <h3 class="box-title">From archives News Edit / Delete</h3>
    <%= link_to new_post_path, :class=>'pull-right btn btn-default category_create_button' do %>
        Create News <i class="fa fa-check"></i>
    <% end %>
    <!-- tools box -->

  </div>
</div>
<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-xs-11">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">News</h3>
          <div class="box-tools">
            <%= select_tag 'category_id_select_archive_post', options_from_collection_for_select(Category.all,:id, :name), {:prompt=>'Select Category', :class => 'form-control input-sm pull-right' } %>

            <div class="input-group">
              <%= date_field(:archive, :date_search, :class=>'form-control input-sm pull-right date_field_archive',:value=>@current_date) %>
              <div class="input-group-btn">
                <button class="btn btn-sm btn-default search_btn_for_archive_AT_date"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding posts_table_holder">
          <% if @posts.any? %>
              <table class="table table-hover">
                <tr>
                  <th>Category</th>
                  <th>Date</th>
                  <th>Title</th>

                  <th>Edit/Delete</th>
                </tr>
                <% @posts.each do |post|  %>
                    <tr>
                      <td><%= post.category.name %></td>
                      <td><%= post.created_at.strftime('%d %B, %y') %></td>
                      <td><%= link_to post.title, post_path(post) %></td>
                      <td>
                        <div class="btn-group">
                          <%= link_to edit_post_path(post), :class=>'btn btn-info' do %>
                              <i class='fa fa-align-left fa-edit'></i> edit
                          <% end %>
                          <%= link_to post_path(post), :class=>'btn btn-info', method: :delete,data: { confirm: 'Are you sure?' } do %>
                              <i class='fa fa-align-right fa-crop'></i> delete
                          <% end %>
                          <%= link_to 'show', post_path(post), :class => 'btn btn-info' %>
                        </div>
                      </td>
                    </tr>
                <% end %>
              </table>
          <% end %>

          <div class="box-tools">
            <ul class="pagination pagination-sm no-margin pull-left">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
        </div><!-- /.box-body -->

      </div><!-- /.box -->
    </div>
  </div>
</section><!-- /.content -->

<script type="text/javascript">
  $(document).ready(function(){
      $('.search_btn_for_archive_AT_date').click(function(){
          var date=$('#archive_date_search').val();
          var category=$('#category_id_select_archive_post').val();
          $.ajax({
              url:'/archives/previous_record',
              data: {date: date,category:category},
              type: 'get'
          });
      });
      $('#category_id_select_archive_post').click(function(){
          var date=$('#archive_date_search').val();
          var category=$('#category_id_select_archive_post').val();
          $.ajax({
              url:'/archives/previous_record',
              data: {date: date,category:category},
              type: 'get'
          });
      });
      $('#archive_date_search').change(function(){
          var date=$('#archive_date_search').val();
          var category=$('#category_id_select_archive_post').val();
          $.ajax({
              url:'/archives/previous_record',
              data: {date: date,category:category},
              type: 'get'
          });
      });
  });
</script>