<%= form_for @post do |f| %>
<div class="row">
  <div class="col-md-10">
    <div  class="btn-group pad">
      <%= f.label 'Select Category' %>
      <%= select_tag 'category_id', options_from_collection_for_select(Category.all,:id, :name, :selected=>@post.category_id), { :class => 'btn btn-default col-md-12' } %>
    </div>
    <div  class="btn-group pad">
      <%= f.label 'Select Division (optional)' %>
      <%= select_tag 'division_id', options_from_collection_for_select(Division.all,:id, :name, :selected=>@post.division_id), {:prompt => 'Select Division', :class => 'btn btn-default col-md-12' } %>
    </div>
    <div class="input-group margin col-md-12">
      <%= f.text_field :title, :class=>'form-control', :placeholder=>"Title hare.." %>
    </div><!-- /input-group -->
    <div class="form-group pad">
      <div class="btn btn-success btn-file">
        <i class="fa fa-paperclip"></i> Image
        <%= f.file_field :photo, :class=>'' %>
      </div>
      <p class="help-block">Max. 5MB</p>
    </div>
    <div class="input-group margin col-md-12">
      <%= f.label 'Give a video link if you have' %>
      <%= f.text_field :video, :class=>'form-control', :placeholder=>"Youtube Embed Code...." %>
    </div>
  </div>
</div>
<div class='box-body pad'>
  <%= f.label 'News Body' %>
  <%= f.text_area(:content, size: '50x10') %>

</div>
<div class="input-group margin pad">
  <%= f.submit 'Submit', :class=>'btn btn-primary' %>
</div><!-- /btn-group -->
<% end %>
