<div id="copyright" role="contentinfo">
  <div class="col col_4_of_12 copyright_logo ">
    <%= link_to root_path,:data => { :no_turbolink => true } do %>
        <% if NewsProperty.all.any? %>
        <% if NewsProperty.first.logo %>
            <%= image_tag(NewsProperty.first.logo) %>
        <% else %>
                <img src="/images/ANLogo24.jpg">
        <% end %>
        <% end %>
    <% end %>
    <h5>Copyright © 2015
      All rights reserved </h5>

  </div>
  <div class="copyright_content col_4_of_12">
    <p>সম্পাদকঃ  <%= NewsProperty.last.name if NewsProperty.last %> <br>
      <%= NewsProperty.last.address if NewsProperty.last %><br>
      ফোন : <%= NewsProperty.last.phone if NewsProperty.last %> <br>
      ই-মেইল : <%= NewsProperty.last.email if NewsProperty.last %> </p>
  </div>
  <div class="col col_4_of_12 developed_logo ">
    <a href="http://www.convergent-soft.com/" target="_blank"> <img src="/images/linaro-logo.png"></a>
    <h4>Developed by : </h4>
  </div>
</div>