<header id="header" role="banner">
  <!-- Header meta -->
  <div class="header_meta">
    <div class="container">
      <!-- Weather forecast -->
      <div class="weather_forecast">
        <i class="fa fa-cloud"></i>
        <span class="city">Dhak, narayanganj</span>
        <span class="temp">18°C</span>
      </div><!-- End Weather forecast -->
      <!-- Top menu -->
      <nav class="top_navigation" role="navigation">
        <span class="top_navigation_toggle"><i class="fa fa-reorder"></i></span>
        <ul class="menu">
          <li><a><i class="fa fa-calendar-o"></i> শুক্রবার,১২ আষাঢ় ১৪২২ বঙ্গাব্দ ,</a></li>
          <li><a></i> ২৬ জুন ২০১৫ খ্রিষ্টাব্দ</a></li>
          <li><a><i class="fa fa-clock-o"></i> 11:34 PM</a></li>
          <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          <li class="search_icon_form"><a href="#"><i class="fa fa-search"></i></a>
            <div class="sub-search">
              <form>
                <input type="search" placeholder="Search...">
                <input type="submit" value="Search">
              </form>
            </div>
          </li>
        </ul>
      </nav><!-- End Top menu -->
    </div>
  </div><!-- End Header meta -->
  <!-- Header main -->
  <div class="logo-add">
    <div class="site_brand">
      <img src="/images/ANLogo.jpg">
    </div>
    <div class="site_brand_add">
      <img src="/images/add.jpg">
    </div>
  </div>
  <div id="header_main" class="sticky header_main">
    <div class="container">


      <!-- Site navigation -->
      <nav class="site_navigation" role="navigation">
        <span class="site_navigation_toggle"><i class="fa fa-reorder"></i></span>
        <ul class="menu">
          <li>
            <%= link_to root_path do %>
                <i class="fa fa-home"></i> প্রচ্ছদ
            <% end %>
          </li>
          <% if Category.all.any? %>
          <% Category.first(11).each do |cat| %>
              <li>
                <%= link_to cat.name, category_news_news_index_path(cat) %>
              </li>
          <% end %>
          <% end %>


          <li class="menu-item-has-children"><a href="#">আরো </a>
            <span class="site_sub_menu_toggle"></span>
            <div class="cart_content">
              <div class="widget_shopping_cart_content">
                <ul class="cart_list product_list_widget">
                  <% if Category.all.any? %>
                  <% if Category.all.count>11 %>
                      <% cat_index=0 %>
                      <% Category.all.each do |cat| %>
                            <% if cat_index>10 %>
                                  <li>
                                    <%= link_to cat.name, category_news_news_index_path(cat) %>
                                  </li>
                            <% end %>
                            <% cat_index=cat_index+1 %>
                      <% end %>
                  <% end %>
                  <% end %>
                  <li>
                    <%= link_to 'ভিডিও সংবাদ ', video_gallery_news_index_path(Video.last) %>
                  </li>
                  <li>
                    <%= link_to 'ফটো সংবাদ ', photo_gallery_news_index_path(Gallery.last) %>
                  </li>
                  <li>
                    <%= link_to 'আর্কাইভ', archive_news_index_path %>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </nav><!-- End Site navigation -->
    </div>
  </div><!-- End Header main -->
</header>