<aside class="left-side sidebar-offcanvas">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/img/avatar3.png" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p>Hello, Jane</p>

        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="active">
        <%= link_to admins_path do %>
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        <% end %>
      </li>
      <li>
        <%= link_to categories_path do %>
            <i class="fa fa-pencil-square-o"></i> <span>Categories</span>
        <% end %>
      </li>
      <li>
        <%= link_to posts_path do %>
            <i class="fa fa-pencil-square-o"></i> <span>News</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to archives_path do %>
            <i class="fa fa-pencil-square-o"></i>
            <span>Archive</span>

        <% end %>
      </li>
      <li class="treeview">
        <%= link_to galleries_path do %>
            <i class="fa fa-photo"></i>
            <span>Galleries</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to videos_path do %>
            <i class="fa fa-file-video-o"></i>
            <span>Videos</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to headlines_path do %>
            <i class="fa fa-pencil-square"></i>
            <span>Headlines</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to special_news_index_path do %>
            <i class="fa fa-pencil-square"></i>
            <span>Special News</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to slider_news_index_path do %>
            <i class="fa fa-pencil-square"></i>
            <span>Slider News</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to breaking_news_index_path do %>
            <i class="fa fa-pencil-square"></i>
            <span>Breaking News</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to left_category_news_index_path do %>
            <i class="fa fa-pencil"></i>
            <span>Left Side Category</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to right_category_news_index_path do %>
            <i class="fa fa-pencil"></i>
            <span>Right Side Category</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to bottom_category_news_index_path do %>
            <i class="fa fa-pencil"></i>
            <span>Bottom Category</span>
        <% end %>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>