<!DOCTYPE html>
<html>
<head>
  <title>Alokitonarayanganj24</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--<title>convergentsoft news</title>-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Favicons -->
  <!--<link rel="icon" href="/images/an-febicon.png">-->
  <% if NewsProperty.last %>
      <% if NewsProperty.last.febicon %>
          <link rel="icon" href="/images/an-febicon.png">
      <% else %>
          <link rel="icon" href="<%= NewsProperty.last.febicon %>">
      <% end %>
  <% end %>
  <!--&lt;!&ndash; Styles &ndash;&gt;-->
  <!--<link rel="stylesheet" href="css/normalize.css">-->
  <!--<link rel="stylesheet" href="css/font-awesome.min.css">-->
  <!--<link rel="stylesheet" href="css/weather.css">-->
  <!--<link rel="stylesheet" href="css/colors.css">-->
  <!--<link rel="stylesheet" href="css/typography.css">-->
  <!--<link rel="stylesheet" href="css/style.css">-->


  <!--Responsive-->
  <link rel="stylesheet" type="text/css"  href="/css/endlessRiver.css">
  <link rel="stylesheet" type="text/css" media="(max-width:768px)" href="/css/responsive-0.css">
  <link rel="stylesheet" type="text/css" media="(min-width:769px) and (max-width:992px)" href="/css/responsive-768.css">
  <link rel="stylesheet" type="text/css" media="(min-width:993px) and (max-width:1200px)" href="/css/responsive-992.css">
  <link rel="stylesheet" type="text/css" media="(min-width:1201px)" href="/css/responsive-1200.css">
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,300italic,400,400italic,700,700italic' rel='stylesheet' type='text/css'>

</head>
<body>

<p class="navbar-text pull-right">
  <% if user_signed_in? %>
      <strong><%= current_user.email %></strong>.
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% end %>


  <div id="wrapper" class="wide">
    <%= render 'layouts/header_user' %>
    <%= render 'layouts/breaking_news_user' %>
    <%= render 'layouts/sironam_news_user' %>
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer_user' %>
  </div>
  <!--<script src="jquery.jticker.min.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/endlessRiver.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
          $("#myUlBreakingNews").endlessRiver({
              speed: 50,
              pause: true

          });
          $("#SironamSlideUl").endlessRiver({
              speed: 50,
              pause: true
          });
      });
  </script>

  </body>
</html>